<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Для изменения вашего пароля перейдите по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не вы, не обращайте внимания на это письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не создадите новый.</p>
