<h2>Редактировать контакт</h2>
<br/>
<%= render 'form', yp: @yp %>

<br/>
<%= link_to 'Показать', @yp, class:"btn btn-dark" %>

<%= link_to 'Удалить', @yp, method: :delete, data: { confirm: 'Удалить контакт?' }, class: "btn btn-danger" %>

<%= link_to 'Назад', yps_path, class:"btn btn-secondary" %>
